streamlit
pandas
google-cloud-aiplatform
google-cloud-texttospeech
google-cloud-storage
google-cloud-firestore
google-cloud-secret-manager
langchain-google-vertexai
langchain
pydantic
pdfplumber
python-dotenv
streamlit-authenticator
pyyaml
tweepy
extract-msg
openpyxl
fuzzywuzzy
python-levenshtein
python-docx
fpdf2
xlsxwriter
plotly
chromadb
biopython
sentence-transformers
huggingface-hub
langchain-community
networkx
spacy
selenium
schedule
transformers
faker
google-api-python-client
matplotlib
